*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
}

.container {
    background-color: #113755;
    width: 21.87em;     /* 350px */
    height: 21.87em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    overflow: hidden;
    /* border: 4px solid #041524; */
    /* box-shadow: 20px 5px rgba(0, 0, 0, 0.1); */
}

.mountains {
    background-color: #144569;
    width: 7.5em;
    height: 12.5em;
    position: absolute;
    left: 1.9em;
    bottom: -0.62em;
    transform: rotate(-50deg);
}

.mountains::before {
    content: "";
    position: absolute;
    width: 8.75em;
    height: 5em;
    background-color: #144569;
    left: 3.12em;
    bottom: 1.25em;
    transform: rotate(-90deg);
}

.mountains::after {
    content: "";
    position: absolute;
    width: 11em;
    height: 6.25em;
    background-color: #144569;
    left: 4.4em;
    bottom: -6.7em;
    transform: rotate(20deg);
}

.land {
    position: absolute;
    width: 28.12em;
    height: 5em;
    background-color: #041524;
    bottom: -0.31em;
    transform: rotate(5deg);
}

.moon {
    width: 2.2em;
    height: 2.2em;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 5.62em;
    top: 4.4em;
    box-shadow: 0 0 0 0.62rem rgba(32, 105, 149, 0.6),
    0 0 0 1.25rem rgba(32, 105, 149, 0.5),
    0 0 0 1.9rem rgba(32, 105, 149, 0.4);
}

.moon::before {
    position: absolute;
    content: "";
    background-color: #ebefe7;
    width: 0.62em;
    height: 0.62em;
    top: 0.5em;
    left: 0.35em;
    border-radius: 50%;
}

.moon::after {
    position: absolute;
    content: "";
    background-color: #ebefe7;
    width: 0.40em;
    height: 0.40em;
    top: 1.25em;
    left: 0.75em;
    border-radius: 50%;
    top: 1.25em;
    left: 0.75em;
}

.windmill {
    position: absolute;
    width: 1.45em;
    height: 0;
    right: 12.5em;
    bottom: 4.87em;
    border-bottom: 2.37em solid #041524;
    border-left: 0.15 solid transparent;
    border-right: 0.15em solid transparent;
}

.windmill::after {
    position: absolute;
    content: "";
    background-color: #041524;
    height: 0.62em;
    width: 1.28em;
    bottom: -0.06em;
    border-radius: 1.25em 1.25em 0 0 ;
    z-index: -1;
}

.windmill::before {
    content: "";
    position: absolute;
    width: 1.5em;
    height: 0;
    border-bottom: 0.37em solid #0b2231;
    border-left: 0.06em solid transparent;
    border-right: 0.06em solid transparent;
    right: -0.1em;
    top: 0.06em;
}

.light {
    position: absolute;
    width: 0.25em;
    height: 0.25em;
    background-color: #8daf76;
    border-radius: 50%;
    top: 0.75em;
    left: 0.55em;
    box-shadow: 
        0 0 0.06em 0.12em rgba(141, 175, 118, 0.3),
        0 0 0.06em 0.25em, rgba(141, 175, 118, 0.2);
}

.light::before {
    content: "";
    position: absolute;
    width: 0.5em;
    height: 0.5em;
    background-color: #0f304f;
    bottom: -1.25em;
    left: -0.12em;
    border-radius: 0.25em 0.25em 0 0;
}

.blades {
    width: 3.75em;
    height: 3.75em;
    /* background-color: orange; */
    position: absolute;
    bottom: -1.9em;
    left: -1.24em;
    animation: spin 4s infinite linear;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.blades::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0.5em;
    background-color: #041524;
    border: 1px solid rgba(250, 235, 215, 0.5);
    left: 1.62em;
    z-index: 1;
}

.blades::after {
    content: "";
    position: absolute;
    width:  0.5em;
    height: 100%;
    background-color: #041524;
    border: 1px solid rgba(250, 235, 215, 0.5);
    transform: rotate(90deg);
    left: 1.62em;
    z-index: 1;
}

.circle {
    position: absolute;
    width: 0.65em;
    height: 0.65em;
    background: #041524;
    background: radial-gradient(circle, #041524 30%, rgba(250, 235, 215, 0.795) 65%);
    border-radius: 50%;
    top: -0.38em;
    left: 0.33em;

}

.star,
.star::before,
.star::after {
    position: absolute;
    width: 0.18em;
    height: 0.18em;
    background-color: white;
    border-radius: 50%;
    opacity: 0.4;
    animation: twinkle 1.5s infinite;
}

@keyframes twinkle{
    50% {
        opacity: 1;
    }
}

.star-1 {
    top: 5em;
    left: 18.75em;
}

.star-1::before {
    content: "";
    top: 1.9em;
    left: -16.5em;
    animation-delay: 0.3;
}

.star-1::after {
    content: "";
    top: 5em;
    left: -12em;
    animation-delay: 0.7s;
}

.star-2 {
    top: 3em;
    left: 14em;
}

.star-2::before {
    content: "";
    top: 8.5em;
    left: 2.5em;
    animation-delay: 0.5s;
}

.star-2::after {
    content: "";
    top: 5em;
    left: -2em;
    animation-delay: 0.8s;
}

.star-3 {
    top: 8em;
    left: 18.5em;
}

.star-3::before {
    content: "";
    top: 4.5em;
    left: -5.5em;
    animation-delay: 0.7s;
}

.star-3::after {
    content: "";
    top: -2em;
    left: -3em;
    animation-delay: 0.3s;
}